name: Flutter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
#   test:
#     name: Test
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2

#     - name: Set up Flutter
#       uses: subosito/flutter-action@v1.5.1
#       with:
#         flutter-version: '3.7.x'
    
#     - name: Install dependencies
#       run: flutter pub get

#     - name: Run tests
#       run: flutter test

  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Flutter
      uses: subosito/flutter-action@v1.5.1
      with:
        flutter-version: '3.7.x'
    
    - name: Install dependencies
      run: flutter pub get

    - name: Run analysis
      run: flutter analyze --no-fatal-infos --no-fatal-warnings

      
